# Ignorar builds y logs
**/build
**/install
**/log

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/*.egg-info

# Git
.git
.gitignore

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Otros
*.md
!README.md
